In [99]:
import pandas as pd
import mysql.connector
from datetime import datetime

In [4]:
menu_csv = pd.read_csv("/Users/emma/Desktop/database/final/tables/menu_items_table.csv", index_col=False)
menu_csv

,MenuItemSkew,Item Name,Category,Price
0,100,Plein Continental Breakfast,Breakfast,11.50
1,101,Breakfast Croissant Sandwich,Breakfast,10.95
2,102,House Made Biscuit Sandwich,Breakfast,11.95
3,103,Plein Omelet,Breakfast,11.95
4,104,Two Eggs Any Style,Breakfast,11.95
5,105,Mascarpone Stuffed Brioche French Toast,Breakfast,9.95
6,106,Veggie Burrito,Breakfast,13.75
7,107,Chorizo Burrito,Breakfast,13.75
8,108,Vegan Chicken Baguette,"Salads, Sandwiches & Baguettes",14.95
9,109,Chef Salad,"Salads, Sandwiches & Baguettes",11.95
10,110,Kale & Romaine Salad,"Salads, Sandwiches & Baguettes",11.95
11,111,Tomato Avocado Salad,"Salads, Sandwiches & Baguettes",11.95
12,112,Ham & Swiss Baguette,"Salads, Sandwiches & Baguettes",8.95
13,113,Prosciutto & Manchego Baguette,"Salads, Sandwiches & Baguettes",10.50
14,114,Goat Cheese & Sweet Pepper Baguette,"Salads, Sandwiches & Baguettes",10.50
15,115,Smoked Turkey Sandwich,"Salads, Sandwiches & Baguettes",10.50
16,116,Tuna Salad Sandwich,"Salads, Sandwiches & Baguettes",11.25
17,117,Brioche Grilled Cheese,"Salads, Sandwiches & Baguettes",10.95
18,118,Roasted Chicken Poblano,"Salads, Sandwiches & Baguettes",12.50
19,119,Chipotle Chicken Club,"Salads, Sandwiches & Baguettes",14.50
20,120,Vegetarian Chipotle Club,"Salads, Sandwiches & Baguettes",11.95
21,121,Plein Grain Bowl,Tartines & Plein Bowls,9.50
22,122,Jalapeno Chicken Bowl,Tartines & Plein Bowls,11.50
23,123,Al Pastor Bowl,Tartines & Plein Bowls,11.50
24,124,Roasted Root Vegetables Tartine,Tartines & Plein Bowls,9.50
25,125,Savory Meatloaf Tartine,Tartines & Plein Bowls,10.50

In [7]:
print("max len item name:", menu_csv['Item Name'].str.len().max())
print("max cat name:",  menu_csv['Category'].str.len().max())

max len item name: 39
max cat name: 30

In [85]:
conn = mysql.connector.connect(user = 'root',
                               password = 'Mori1331!',
                               host = 'localhost',
                               )
print(conn)
curr = conn.cursor()

<mysql.connector.connection.MySQLConnection object at 0x11df94d10>

In [86]:
try:
    curr.execute("CREATE DATABASE MyCoffeeShop;")
    print("Database created successfully")
except Exception as e:
    print(f"Error creating database: {e}")

Database created successfully

# TABLES

In [87]:
curr.execute("USE MyCoffeeShop;")

In [13]:


menu_query = """
    CREATE TABLE Menu (
        MenuItemSkew INT    NOT NULL,
        ItemName    VARCHAR(45),
        Category    VARCHAR(35),
        Price       DECIMAL(4, 2),
        PRIMARY KEY (MenuItemSkew)
        );
        """

curr.execute(menu_query)

In [17]:
ingredients = pd.read_csv("/Users/emma/Desktop/database/final/tables/ingredients_table.csv")
ingredients["Ingredient"].str.len().max()

24

In [24]:
ingredient_table = """
    CREATE TABLE Ingredients (
        IngredientSkew      INT    NOT NULL,
        IngredientName      VARCHAR(30),
        PRIMARY KEY (IngredientSkew)
        );
        """
curr.execute(ingredient_table)

In [25]:
recipe_table = """
    CREATE TABLE Recipes (
        MenuItemSkew INT NOT NULL,
        IngredientSkew INT NOT NULL,
        PRIMARY KEY (MenuItemSkew, IngredientSkew),
        FOREIGN KEY (MenuItemSkew) REFERENCES Menu(MenuItemSkew)
            ON DELETE CASCADE
            ON UPDATE CASCADE,
        FOREIGN KEY (IngredientSkew) REFERENCES Ingredients(IngredientSkew)
            ON DELETE CASCADE
            ON UPDATE CASCADE
    );
    """
curr.execute(recipe_table)

# books

In [78]:
books = pd.read_csv("/Users/emma/Desktop/database/final/tables/books.csv")

In [79]:
books

,isbn,Title,Author,num_pages,publication_date,publisher,genres
0,0764585746,Shakespeare's Romeo and Juliet,William Shakespeare,231,5/8/2000,Hungry Minds,Classics
1,1421808323,Nineteen Eighty-Four,George Orwell,387,7/1/2005,1st World Library,Classics
2,0812969707,A War Like No Other: How the Athenians & Spart...,Victor Davis Hanson,397,9/12/2006,Random House,History
3,0743484185,Easy Prey (Lucas Davenport #11),John Sandford,480,6/1/2004,Simon & Schuster,Mystery
4,0571219764,Self,Yann Martel,331,4/7/2003,Faber Faber,Fiction
...,...,...,...,...,...,...,...
2995,0321365208,Essentials of American and Texas Government: C...,Karen O'Connor,854,7/29/2005,Longman Publishing Group,NaN
2996,1572705647,Hickory Dickory Dock (Hercule Poirot #32),Agatha Christie,196,12/7/2006,AudioGO,Mystery
2997,1888472405,The Life and Times of Scrooge McDuck Companion,Don Rosa,208,9/19/2006,Gemstone Publishing,"Sequential Art,Comics"
2998,0486451402,Quicksand,Nella Larsen,125,9/15/2006,Dover Publications,Fiction
2999,1585672777,Lord Emsworth and Others (Blandings Castle #5.5),P.G. Wodehouse,268,5/13/2002,The Overlook Press,Humor

In [106]:
books.dtypes

isbn                object
Title               object
Author              object
num_pages            int64
publication_date    object
publisher           object
genres              object
dtype: object

In [105]:
print("ibsn string len:", books['isbn'].str.len().max())
print("title string len:", books['Title'].str.len().max())
print("author string len:", books['Author'].str.len().max())
print("pub string len:", books['publisher'].str.len().max())
print("genre string len:", books['genres'].str.len().max())

ibsn string len: 10
title string len: 202
author string len: 29
pub string len: 67
genre string len: 38.0

In [96]:
books.columns

Index(['isbn', 'Title', 'Author', 'num_pages', 'publication_date', 'publisher',
       'genres'],
      dtype='object')

In [108]:
books_table = """
CREATE TABLE Books (
    ISBN            VARCHAR(10)     NOT NULL,
    Title           TEXT,
    Author          VARCHAR(35),
    NumPages        INT,
    Publishing_Date DATE,
    Publisher       VARCHAR(75),
    Genre          VARCHAR(40),
    PRIMARY KEY (ISBN)
);
"""
curr.execute(books_table)

In [110]:
# DRINKS
drinks = pd.read_csv("/Users/emma/Desktop/database/final/tables/drink_table.csv")
drinks

,DrinkSkew,Item,Price,Category,Seasonality
0,300,Small Espresso,2.75,Espresso Bar,Year-Round
1,301,Small Macchiato,3.00,Espresso Bar,Year-Round
2,302,Small Cortado,3.25,Espresso Bar,Year-Round
3,303,Small Cappuccino,3.50,Espresso Bar,Year-Round
4,304,Small Latte,3.75,Espresso Bar,Year-Round
...,...,...,...,...,...
84,384,Medium Apple Crisp Macchiato,5.00,Seasonal Drinks,Fall
85,385,Large Apple Crisp Macchiato,5.50,Seasonal Drinks,Fall
86,386,Small S’mores Latte,4.75,Seasonal Drinks,Summer
87,387,Medium S’mores Latte,5.25,Seasonal Drinks,Summer
88,388,Large S’mores Latte,5.75,Seasonal Drinks,Summer

In [112]:
print("name length: ", drinks['Item'].str.len().max())
print("cat length: ", drinks['Category'].str.len().max())
print("seasonality length: ", drinks['Seasonality'].str.len().max())

name length:  32
cat length:  15
seasonality length:  10

In [113]:
drinks.columns

Index(['DrinkSkew', 'Item', 'Price', 'Category', 'Seasonality'], dtype='object')

In [114]:
drinks_table = """
CREATE TABLE Drinks(
DrinkSkew   INT     NOT NULL,
Item        VARCHAR(35),
Price       DECIMAL(4, 2),
Category    VARCHAR(20),
Season      VARCHAR(20),
PRIMARY KEY (DrinkSkew)
);
"""
curr.execute(drinks_table)

In [117]:
pastries = pd.read_csv("/Users/emma/Desktop/database/final/tables/pastries_table.csv")
pastries.columns

Index(['PastrySkew', 'Pastry Name', 'Price', 'Sell_by_Date'], dtype='object')

In [121]:
pastries['Pastry Name'].str.len().max()

33

In [122]:
curr.execute("DROP TABLE Pastries;")

In [123]:
pastries_table = """
CREATE TABLE Pastries (
PastrySkew      INT     NOT NULL,
PastryName      VARCHAR(40),
Price           DECIMAL(4, 2),
Sell_By_Date    DATE,
PRIMARY KEY (PastrySkew)
);
"""
curr.execute(pastries_table)

In [124]:
pastries_insert = """
INSERT INTO Pastries
VALUES (%s, %s, %s, %s)
"""
pastries = pd.read_csv("/Users/emma/Desktop/database/final/tables/pastries_table.csv")
pastriesList = [tuple(row) for row in pastries.values.tolist()]

curr.executemany(pastries_insert, pastriesList)

# Inserting Data

In [26]:
menu_insert = """
            INSERT INTO Menu
            VALUES (%s, %s, %s, %s)
            """
menu_csv = pd.read_csv("/Users/emma/Desktop/database/final/tables/menu_items_table.csv", index_col=False)
menuList = [tuple(row) for row in menu_csv.values.tolist()]

menuList

[(100, 'Plein Continental Breakfast', 'Breakfast', 11.5),
 (101, 'Breakfast Croissant Sandwich', 'Breakfast', 10.95),
 (102, 'House Made Biscuit Sandwich', 'Breakfast', 11.95),
 (103, 'Plein Omelet', 'Breakfast', 11.95),
 (104, 'Two Eggs Any Style', 'Breakfast', 11.95),
 (105, 'Mascarpone Stuffed Brioche French Toast', 'Breakfast', 9.95),
 (106, 'Veggie Burrito', 'Breakfast', 13.75),
 (107, 'Chorizo Burrito', 'Breakfast', 13.75),
 (108, 'Vegan Chicken Baguette', 'Salads, Sandwiches & Baguettes', 14.95),
 (109, 'Chef Salad', 'Salads, Sandwiches & Baguettes', 11.95),
 (110, 'Kale & Romaine Salad', 'Salads, Sandwiches & Baguettes', 11.95),
 (111, 'Tomato Avocado Salad', 'Salads, Sandwiches & Baguettes', 11.95),
 (112, 'Ham & Swiss Baguette', 'Salads, Sandwiches & Baguettes', 8.95),
 (113,
  'Prosciutto & Manchego Baguette',
  'Salads, Sandwiches & Baguettes',
  10.5),
 (114,
  'Goat Cheese & Sweet Pepper Baguette',
  'Salads, Sandwiches & Baguettes',
  10.5),
 (115, 'Smoked Turkey Sandwich', 'Salads, Sandwiches & Baguettes', 10.5),
 (116, 'Tuna Salad Sandwich', 'Salads, Sandwiches & Baguettes', 11.25),
 (117, 'Brioche Grilled Cheese', 'Salads, Sandwiches & Baguettes', 10.95),
 (118, 'Roasted Chicken Poblano', 'Salads, Sandwiches & Baguettes', 12.5),
 (119, 'Chipotle Chicken Club', 'Salads, Sandwiches & Baguettes', 14.5),
 (120, 'Vegetarian Chipotle Club', 'Salads, Sandwiches & Baguettes', 11.95),
 (121, 'Plein Grain Bowl', 'Tartines & Plein Bowls', 9.5),
 (122, 'Jalapeno Chicken Bowl', 'Tartines & Plein Bowls', 11.5),
 (123, 'Al Pastor Bowl', 'Tartines & Plein Bowls', 11.5),
 (124, 'Roasted Root Vegetables Tartine', 'Tartines & Plein Bowls', 9.5),
 (125, 'Savory Meatloaf Tartine', 'Tartines & Plein Bowls', 10.5)]

In [27]:
curr.executemany(menu_insert, menuList)
conn.commit()

In [33]:
# ingredients
ingredients = pd.read_csv("/Users/emma/Desktop/database/final/tables/ingredients_table.csv")
ingredients_lst = [tuple(row) for row in ingredients.values.tolist()]
ingredients_insert = """
            INSERT INTO Ingredients
            VALUES (%s, %s)
            """
curr.executemany(ingredients_insert, ingredients_lst)
conn.commit()

In [38]:
# recipes
try:
    recipes = pd.read_csv("/Users/emma/Desktop/database/final/tables/recipes_table.csv")
    recipes_lst = [tuple(row) for row in recipes.values.tolist()]
    recipes_insert = """
                INSERT INTO Recipes
                VALUES (%s, %s)
                """
    curr.executemany(recipes_insert, recipes_lst)
    conn.commit()
except Exception as e:
    print(f"Errror inserting recipes data: {e}")

In [ ]:
books_insert = """
INSERT INTO Books
VALUES (%s, %s, %s, %s, %s, %s, %s)
"""

books = pd.read_csv("/Users/emma/Desktop/database/final/tables/books.csv")
books['publication_date'] = books['publication_date'].apply(lambda x: datetime.strptime(x, "%m/%d/%Y").strftime("%Y-%m-%d"))
booksLst = [tuple(row) for row in books.values.tolist()]
curr.executemany(books_insert, booksLst)
conn.commit()

In [ ]:
# drinks
drink_insert = """
INSERT INTO Drinks
VALUES (%s, %s, %s, %s, %s)
"""

drinks = pd.read_csv("/Users/emma/Desktop/database/final/tables/drink_table.csv")
drinkLst = [tuple(row) for row in drinks.values.tolist()]
curr.executemany(drink_insert, drinkLst)
conn.commit()

In [39]:
curr.execute("SHOW TABLES;")
print(curr.fetchall())

[('Ingredeints',), ('Ingredients',), ('Menu',), ('Recipes',)]

# testing queries

In [42]:
query = """
SELECT M.ItemName, I.IngredientName
FROM Recipes as R
JOIN Menu AS M ON R.MenuItemSkew = M.MenuItemSkew
JOIN Ingredients AS I ON R.IngredientSkew = I.IngredientSkew
WHERE M.ItemName = 'Vegan Chicken Baguette';
"""

curr.execute(query)
print(curr.fetchall())

[('Vegan Chicken Baguette', 'avocado'), ('Vegan Chicken Baguette', 'pesto'), ('Vegan Chicken Baguette', 'lettuce'), ('Vegan Chicken Baguette', 'tomato'), ('Vegan Chicken Baguette', 'pickled onion'), ('Vegan Chicken Baguette', 'mayo'), ('Vegan Chicken Baguette', 'baguette'), ('Vegan Chicken Baguette', 'vegan chicken')]

In [54]:
query2 = """
SELECT M.ItemName, COUNT(I.IngredientName) AS IngredientCount
FROM Recipes AS R
JOIN Menu AS M ON R.MenuItemSkew = M.MenuItemSkew
JOIN Ingredients AS I ON R.IngredientSkew = I.IngredientSkew
GROUP BY M.ItemName
ORDER BY M.ItemName;
"""
curr.execute(query)
print(curr.fetchall())

[('Al Pastor Bowl', 6), ('Breakfast Croissant Sandwich', 4), ('Brioche Grilled Cheese', 4), ('Chef Salad', 9), ('Chipotle Chicken Club', 7), ('Chorizo Burrito', 8), ('Goat Cheese & Sweet Pepper Baguette', 4), ('Ham & Swiss Baguette', 4), ('House Made Biscuit Sandwich', 5), ('Jalapeno Chicken Bowl', 4), ('Kale & Romaine Salad', 6), ('Mascarpone Stuffed Brioche French Toast', 3), ('Plein Continental Breakfast', 5), ('Plein Grain Bowl', 4), ('Plein Omelet', 7), ('Prosciutto & Manchego Baguette', 4), ('Roasted Chicken Poblano', 5), ('Roasted Root Vegetables Tartine', 5), ('Savory Meatloaf Tartine', 6), ('Smoked Turkey Sandwich', 6), ('Tomato Avocado Salad', 4), ('Tuna Salad Sandwich', 7), ('Two Eggs Any Style', 7), ('Vegan Chicken Baguette', 8), ('Vegetarian Chipotle Club', 6), ('Veggie Burrito', 8)]

In [67]:
query3 = """
SELECT ItemName
FROM Menu
WHERE Category = 'Breakfast';
"""
curr.execute(query3)
curr.fetchall()

[('Plein Continental Breakfast',),
 ('Breakfast Croissant Sandwich',),
 ('House Made Biscuit Sandwich',),
 ('Plein Omelet',),
 ('Two Eggs Any Style',),
 ('Mascarpone Stuffed Brioche French Toast',),
 ('Veggie Burrito',),
 ('Chorizo Burrito',)]

In [125]:
query4 = """
SELECT Title
FROM Books
WHERE Genre = 'Fantasy';
"""
curr.execute(query4)
curr.fetchall()

[('Warhost of Vastmark (Wars of Light & Shadow  #3; Arc 2 - The Ships of Merior  #2)',),
 ('Naked Empire (Sword of Truth  #8)',),
 ('Tales from the Perilous Realm',),
 ('American Gods',),
 ('Going Postal (Discworld  #33)',),
 ('The Last Hero (Discworld #27; Rincewind #7)',),
 ('Fragile Things: Short Fictions and Wonders',),
 ('City of the Beasts (Eagle and Jaguar  #1)',),
 ('The Lion  the Witch and the Wardrobe (Chronicles of Narnia  #1)',),
 ('Abarat: Days of Magic  Nights of War',),
 ('The Neil Gaiman Audio Collection',),
 ('The Lion  the Witch and the Wardrobe (Chronicles of Narnia #2)',),
 ('El bosque de los pigmeos',),
 ("The King of Attolia (The Queen's Thief  #3)",),
 ('Good Omens: The Nice and Accurate Prophecies of Agnes Nutter  Witch',),
 ('The Color of Magic (Discworld  #1; Rincewind  #1)',),
 ('The Homecoming',),
 ('Confessions of an Ugly Stepsister',),
 ('Journey Into the Void (Sovereign Stone  #3)',),
 ('Carpe Jugulum (Discworld #23; Witches #6)',),
 ('Treasure Box',),
 ('The Wish Giver: Three Tales of Coven Tree',),
 ('Racso and the Rats of NIMH (Rats of NIMH  #2)',),
 ("Darwin's Watch (The Science of Discworld  #3)",),
 ("Ronia  the Robber's Daughter",),
 ('Five Children and It (Five Children #1)',),
 ('The Enchanted Castle',),
 ('The Eyre Affair (Thursday Next  #1)',),
 ('Crown Duel (Crown & Court #1-2)',),
 ("A Robin McKinley Collection: Spindle's End  The Hero and the Crown and The Blue Sword (Folktales #1-3)",),
 ('In the Land of Time: And Other Fantasy Tales',),
 ('Five Children and It',),
 ('The Book of Imaginary Beings',),
 ('The Hobbit',),
 ("Trickster's Choice (Daughter of the Lioness  #1)",),
 ('El cubo B (Artemis Fowl  #3)',),
 ('La venganza de Opal (Artemis Fowl  #4)',),
 ('Bones of the Moon (Answered Prayers  #1)',),
 ('The Fantasies of Robert A. Heinlein',),
 ('The Lake of Souls (Cirque du Freak #10)',),
 ('The Golden Key',),
 ('The Dark Tower (The Dark Tower #7)',),
 ('The Tolkien Reader',),
 ('First King of Shannara (The Original Shannara Trilogy #0)',),
 ('The Waterborn (Children of the Changeling  #1)',),
 ('Xanth: The Quest for Magic (Xanth  #1-3)',),
 ("A Man Rides Through (Mordant's Need  #2)",),
 ('In the Shadow of the Warlock Lord (The Sword of Shannara  #1)',),
 ('The Conquering Sword of Conan (Conan the Cimmerian  #3)',),
 ('The Heritage of Shannara (Heritage of Shannara  #1-4)',),
 ('A Caress of Twilight (Merry Gentry  #2)',),
 ("Dragon's Fire (Pern  #19)",),
 ('The Malloreon  Vol. 1: Guardians of the West / King of the Murgos / Demon Lord of Karanda (The Malloreon  #1-3)',),
 ('The Malloreon  Vol. 2: Sorceress of Darshiva / The Seeress of Kell (The Malloreon  #4-5)',),
 ('Jarka Ruus (High Druid of Shannara  #1)',),
 ("Elphame's Choice (Partholon  #4)",),
 ('Cast in Courtlight (Chronicles of Elantra  #2)',),
 ('The Fairy Godmother (Five Hundred Kingdoms  #1)',),
 ('Divine By Mistake (Partholon  #1)',),
 ('Cast in Shadow (Chronicles of Elantra  #1)',),
 ('Count Karlstein',),
 ('Young Warriors: Stories of Strength',),
 ('100 Great Fantasy Short Short Stories',),
 ('The Color of Her Panties (Xanth #15)',),
 ('Smoke and Mirrors: Short Fiction and Illusions',),
 ('Shards of a Broken Crown (The Serpentwar Saga  #4)',),
 ("Morgoth's Ring (The History of Middle-Earth  #10)",),
 ('The War of the Jewels (The History of Middle-Earth  #11)',),
 ('Black Hearts in Battersea (The Wolves Chronicles  #2)',),
 ("Hart's Hope",),
 ('Twelve Fair Kingdoms',),
 ("Lyonesse: Suldrun's Garden (Lyonesse  #1)",),
 ('The Magical Worlds of Lord of the Rings: The Amazing Myths  Legends and Facts Behind the Masterpiece',),
 ('Harry Potter and the Chamber of Secrets (Harry Potter  #2)',),
 ("The Journey (Guardians of Ga'Hoole  #2)",),
 ("The Rescue (Guardians of Ga'Hoole  #3)",),
 ('Harry Potter and the Prisoner of Azkaban (Harry Potter  #3)',),
 ('Lady Friday (The Keys to the Kingdom  #5)',),
 ('Inkheart (Inkworld  #1)',),
 ('Sky The Blue Fairy (Rainbow Magic  #5)',),
 ('The Snow Spider (Snow Spider Trilogy  #1)',),
 ('Ghosthunters and the Muddy Monster of Doom! (Ghosthunters  #4)',),
 ('Violet Makes A Splash (Sister Magic)',),
 ('Northern Lights (His Dark Materials  #1)',),
 ('Skellig (Skellig  #1)',),
 ('The Subtle Knife (His Dark Materials  #2)',),
 ('The Mirror of Merlin',),
 ('Tales from Earthsea (Earthsea Cycle  #5)',),
 ('The Outlaws of Sherwood',),
 ("Dragon's Eye (Stonefort  #1)",),
 ('Harrowing the Dragon',),
 ('Cygnet (Cygnet  #1-2)',),
 ("Winter of Magic's Return",),
 ('The Eyes of the Dragon',),
 ('The Waste Lands (The Dark Tower #3)',),
 ("The Innkeeper's Song",),
 ("At Sword's Point (Knights of the Blood  #2)",),
 ('First King of Shannara (Shannara Prequel)',),
 ('Once Said Darlene',),
 ('Strata',),
 ('Castle of Wizardry (The Belgariad  #4)',),
 ('Reaper Man (Discworld  #11; Death  #2)',),
 ("Spindle's End",),
 ('Elven Star (The Death Gate Cycle  #2)',),
 ("Exile's Children (Exiles  #1)",),
 ('Legacy of the Darksword (The Darksword  #4)',),
 ('The Smoke Thief (Drakon  #1)',),
 ('The Lord of the Rings',),
 ('The Return of the King (The Lord of the Rings  #3)',),
 ('The Curse of the Mistwraith (Wars of Light and Shadow  #1)',),
 ('Firedrake (Dragonrealm #1)',),
 ('Una arruga en el tiempo – A Wrinkle in Time',),
 ('Harry Potter Y La Piedra Filosofal (Harry Potter  #1)',),
 ('Guards! Guards! (Discworld  #8)',),
 ('Poems From The Hobbit',),
 ('The Cuckoo Tree (The Wolves Chronicles  #6)',),
 ('The Dream Stealer',),
 ('The Lord of the Rings: The Art of the Fellowship of the Ring',),
 ('The Hobbit  or There and Back Again',),
 ("The J.R.R. Tolkien Companion and Guide  Volume 2: Reader's Guide",),
 ("The Maps of Tolkien's Middle-earth",),
 ('Trip To The North Pole (The Polar Express: The Movie)',),
 ('The Lord of the Rings: Complete Visual Companion',),
 ('The Fellowship of the Ring (The Lord of the Rings  #1)',),
 ('The Return of the King (The Lord of the Rings  #3)',),
 ("The Lord of the Rings: A Reader's Companion",),
 ('Haroun and the Sea of Stories (Khalifa Brothers  #1)',),
 ('Legacy of Blood (Diablo  #1)',),
 ('Four & Twenty Blackbirds (Bardic Voices  #4)',),
 ('The Free Bards (Bardic Voices  #1-3)',),
 ("Mary Stewart's Merlin Trilogy (Arthurian Saga  #1-3)",),
 ('Below the Root',),
 ('The Great Good Thing (The Sylvie Cycle  #1)',),
 ('Silver on the Tree (The Dark is Rising  #5)',),
 ("The Wizard's Apprentice (The Keepers  #2)",),
 ('A Great and Terrible Beauty (Gemma Doyle #1)',),
 ('Lioness Rampant (Song of the Lioness  #4)',),
 ('Ilse Witch (Voyage of the Jerle Shannara #1)',),
 ("Spirits White as Lightning (Bedlam's Bard  #5)",),
 ('Moon of the Spider (Diablo  #4)',),
 ('Dragon Quest VIII: Journey of the Cursed King Official Strategy Guide',),
 ('Harry Potter and the Goblet of Fire (Harry Potter  #4)',),
 ('Harry Potter and the Half-Blood Prince (Harry Potter  #6)',),
 ('Stone of Farewell (Memory  Sorrow  and Thorn  #2)',),
 ('When True Night Falls (The Coldfire Trilogy  #2)',),
 ('The Sword of Angels (The Bronze Knight  #3)',),
 ('Fantasy Gone Wrong',),
 ('A Shadow in Summer (Long Price Quartet  #1)',),
 ('Child of the Prophecy (Sevenwaters  #3)',),
 ('A Cavern of Black Ice (Sword of Shadows  #1)',),
 ('The Dark Mirror (The Bridei Chronicles  #1)',),
 ('The Hidden Family (The Merchant Princes  #2)',),
 ('Peter and the Shadow Thieves (Peter and the Starcatchers  #2)',),
 ('The Meanest Doll in the World (Doll People  #2)',),
 ('The Eternity Code (Artemis Fowl  #3)',),
 ('The Sea of Monsters (Percy Jackson and the Olympians  #2)',),
 ('Time of the Twins (Dragonlance: Legends  #1)',),
 ('Love and War: Tales  Volume Three (Dragonlance: Tales)',),
 ('Dragons of the Highlord Skies (Dragonlance: The Lost Chronicles  #2)',),
 ('Taran Wanderer (The Chronicles of Prydain  #4)',),
 ('The High King (The Chronicles of Prydain  #5)',),
 ('The Foundling and Other Tales of Prydain',),
 ('The Subtle Knife (His Dark Materials  #2)',),
 ('Manna from Heaven',),
 ("Hart's Hope",),
 ('Drum Into Silence (Drums of Chaos  #3)',),
 ("The Fourth Book of Lost Swords: Farslayer's Story (Lost Swords  #4)",),
 ('Faun & Games (Xanth #21)',),
 ('Vale of the Vole (Xanth #10)',),
 ('Legends 2 (Legends 1  Volume 2of3)',),
 ('The Gate of Fire (Oath Of Empire Book Two)',),
 ('Imaginary Lands',),
 ("A Gateway to Sindarin: A Grammar of an Elvish Language from J.R.R. Tolkien's Lord of the Rings",),
 ('To Battle the Gods (Jalav  Amazon Warrior  #5)',),
 ('Arrows of the Queen (Heralds of Valdemar  #1)',),
 ("Magic's Promise (Valdemar: Last Herald-Mage #2)",),
 ('Wildfire (Drinker of Souls: Wild Magic  #2)',),
 ('Winds of Fury (Valdemar: Mage Winds #3)',),
 ('Storm Warning (Valdemar: Mage Storms #1)',),
 ('Storm Rising (Valdemar: Mage Storms  #2)',),
 ('Owlflight (Owl Mage Trilogy  #1)',),
 ('Earth  Air  Fire  Water (Tales from the Eternal Archives  #2)',),
 ('The Return of the King (The Lord of the Rings  #3)',),
 ("The Dragon's Eye (Erec Rex  #1)",),
 ('Wicked: The Grimmerie',),
 ("Kushiel's Avatar (Phèdre's Trilogy  #3)",),
 ('Tehanu (Earthsea Cycle  #4)',),
 ('Wolf-Speaker (Immortals  #2)',),
 ('The Boggart',),
 ('The Realms of the Gods (Immortals  #4)',),
 ('Here  There Be Dragons (Chronicles of the Imaginarium Geographica  #1)',),
 ('The Siren Song (Pirates of the Caribbean: Jack Sparrow  #2)',),
 ('The Sword of Cortés (Pirates of the Caribbean: Jack Sparrow  #4)',),
 ('Mistress of Magic (The Mists of Avalon  #1)',),
 ('The Eternal Champion (Eternal Champion  #1)',),
 ('Tanglewreck',),
 ('The Warrior Prophet (The Prince of Nothing  #2)',),
 ('Fifty-One Tales',),
 ("Mistress Masham's Repose",),
 ('Fablehaven (Fablehaven  #1)',),
 ("Traitor's Knot (Wars of Light and Shadow  #7)",),
 ('Demon Deathchase (Vampire Hunter D  #3)',),
 ('Inside Job',),
 ("The Magicians' Guild (Black Magician Trilogy  #1)",),
 ('Running with the Demon (Word & Void #1)',),
 ('The Flying Sorcerers: More Comic Tales of Fantasy',),
 ('The Line Between',),
 ('The Empire of Ice Cream',),
 ('Dragons of Winter Night (Dragonlance: Chronicles  #2)',),
 ('The Good Fairies of New York',),
 ('Faërie',),
 ('Neverwhere',),
 ('Memoranda',),
 ('Harry Potter ve Sırlar Odası (Harry Potter  #2)',),
 ('El catalejo lacado (La Materia Oscura  #3)',),
 ('Harry Potter y el misterio del príncipe (Harry Potter  #6)',),
 ('魔戒二部曲：雙城奇謀',),
 ('O Sobrinho do Mágico (As Crónicas de Nárnia  #1)',),
 ('O Cavalo e o Seu Rapaz (As Crónicas de Nárnia  #3)',),
 ('A Última Batalha (As Crónicas de Nárnia  #7)',)]

In [126]:
drinks.columns

Index(['DrinkSkew', 'Item', 'Price', 'Category', 'Seasonality'], dtype='object')

In [128]:
query5 = """
SELECT Item, Price
FROM Drinks
WHERE Season = 'Fall';
"""
curr.execute(query5)
curr.fetchall()

[('Small Pumpkin Spice Latte', Decimal('4.50')),
 ('Medium Pumpkin Spice Latte', Decimal('5.00')),
 ('Large Pumpkin Spice Latte', Decimal('5.50')),
 ('Small Maple Spice Latte', Decimal('4.50')),
 ('Medium Maple Spice Latte', Decimal('5.00')),
 ('Large Maple Spice Latte', Decimal('5.50')),
 ('Small Toasted Marshmallow Latte', Decimal('4.75')),
 ('Medium Toasted Marshmallow Latte', Decimal('5.25')),
 ('Large Toasted Marshmallow Latte', Decimal('5.75')),
 ('Small Apple Crisp Macchiato', Decimal('4.50')),
 ('Medium Apple Crisp Macchiato', Decimal('5.00')),
 ('Large Apple Crisp Macchiato', Decimal('5.50'))]

In [129]:
curr.execute("DROP DATABASE MyCoffeeShop;")

DatabaseError: 1008 (HY000): Can't drop database 'mycoffeeshop'; database doesn't exist

In [130]:
curr.close()

True

In [131]:
conn.close()