In [1]:
import pandas as pd

In [2]:
books = pd.read_csv('/Users/emma/Desktop/Goodreads_books_with_genres.csv')

print(books.columns)
books.head()

Index(['Book Id', 'Title', 'Author', 'average_rating', 'isbn', 'isbn13',
       'language_code', 'num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher', 'genres'],
      dtype='object')

,Book Id,Title,Author,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,genres
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,"Fantasy;Young Adult;Fiction;Fantasy,Magic;Chil..."
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.,"Fantasy;Young Adult;Fiction;Fantasy,Magic;Chil..."
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic,"Fantasy;Fiction;Young Adult;Fantasy,Magic;Chil..."
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.,"Fantasy;Fiction;Young Adult;Fantasy,Magic;Chil..."
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic,"Fantasy;Young Adult;Fiction;Fantasy,Magic;Adve..."

In [3]:
cols_to_keep = ['Book Id', 'Title', 'Author', 'isbn',
       'num_pages',
       'publication_date', 'publisher', 'genres']

In [4]:
books = books.loc[:, cols_to_keep]

In [5]:
# just want to see

lastName = ["Rowling", "Tolkien", "Maas"]
pattern = "|".join(lastName)
author = books[books['Author'].str.contains(pattern, case=False)]

In [6]:
books.head()

,Book Id,Title,Author,isbn,num_pages,publication_date,publisher,genres
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,0439785960,652,9/16/2006,Scholastic Inc.,"Fantasy;Young Adult;Fiction;Fantasy,Magic;Chil..."
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,0439358078,870,9/1/2004,Scholastic Inc.,"Fantasy;Young Adult;Fiction;Fantasy,Magic;Chil..."
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,0439554896,352,11/1/2003,Scholastic,"Fantasy;Fiction;Young Adult;Fantasy,Magic;Chil..."
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,043965548X,435,5/1/2004,Scholastic Inc.,"Fantasy;Fiction;Young Adult;Fantasy,Magic;Chil..."
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,0439682584,2690,9/13/2004,Scholastic,"Fantasy;Young Adult;Fiction;Fantasy,Magic;Adve..."

In [7]:
books['genres'] = (books['genres']).str.split(';').str[0]

books.head()

,Book Id,Title,Author,isbn,num_pages,publication_date,publisher,genres
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,0439785960,652,9/16/2006,Scholastic Inc.,Fantasy
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,0439358078,870,9/1/2004,Scholastic Inc.,Fantasy
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,0439554896,352,11/1/2003,Scholastic,Fantasy
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,043965548X,435,5/1/2004,Scholastic Inc.,Fantasy
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,0439682584,2690,9/13/2004,Scholastic,Fantasy

In [8]:
books['Author'] = (books['Author']).str.split('/').str[0]

books.head()

,Book Id,Title,Author,isbn,num_pages,publication_date,publisher,genres
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,0439785960,652,9/16/2006,Scholastic Inc.,Fantasy
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,0439358078,870,9/1/2004,Scholastic Inc.,Fantasy
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,0439554896,352,11/1/2003,Scholastic,Fantasy
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,043965548X,435,5/1/2004,Scholastic Inc.,Fantasy
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling,0439682584,2690,9/13/2004,Scholastic,Fantasy

In [9]:
books.shape

# randomly sampling for 3k

db_books = books.sample(n=3000, random_state=13).reset_index(drop=True)

In [10]:
db_books[db_books['Author'].str.contains(pattern, case=False)]

,Book Id,Title,Author,isbn,num_pages,publication_date,publisher,genres
331,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,043965548X,435,5/1/2004,Scholastic Inc.,Fantasy
394,15881,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,0439064864,341,6/2/1999,Arthur A. Levine Books / Scholastic Inc.,Fantasy
457,18964,The War of the Jewels (The History of Middle-E...,J.R.R. Tolkien,0395710413,470,12/6/1994,Houghton Mifflin Harcourt,Fantasy
874,18963,Morgoth's Ring (The History of Middle-Earth #10),J.R.R. Tolkien,0395680921,478,12/14/1993,Houghton Mifflin Harcourt,Fantasy
945,5907,The Hobbit or There and Back Again,J.R.R. Tolkien,0618260307,366,8/15/2002,Houghton Mifflin,Fantasy
1044,2005,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,0747584664,768,6/23/2006,Bloomsbury Publishing,Fantasy
1400,15318,魔戒二部曲：雙城奇謀,J.R.R. Tolkien,9570823372,467,12/20/2001,聯經出版事業股份有限公司,Fantasy
1744,43509,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,074754624X,636,7/8/2000,Bloomsbury,Fantasy
1824,15872,Harry Potter y el misterio del príncipe (Harry...,J.K. Rowling,8478889930,602,2/28/2006,Salamandra,Fantasy
1908,7337,The Tolkien Reader,J.R.R. Tolkien,0345345061,251,11/12/1986,Del Rey,Fantasy
1957,15331,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. Tolkien,0618574948,506,6/1/2004,Houghton Mifflin Company,Fantasy
1992,15369,The Lord of the Rings,J.R.R. Tolkien,0563494859,15,10/6/2003,BBC Audiobooks,Fantasy
2022,23643,Faërie,J.R.R. Tolkien,2266102710,217,11/20/2003,Pocket,Fantasy
2181,41909,Harry Potter ve Sırlar Odası (Harry Potter #2),J.K. Rowling,3570211029,403,10/1/2001,Yapı Kredi Yayınları,Fantasy
2363,5911,Poems From The Hobbit,J.R.R. Tolkien,0618009345,57,12/13/1999,Houghton Mifflin Harcourt,Fantasy
2432,3357,Harry Potter Y La Piedra Filosofal (Harry Pott...,J.K. Rowling,0613359607,254,3/6/2001,Turtleback Books,Fantasy
2493,15373,The Return of the King (The Lord of the Rings ...,J.R.R. Tolkien,0965307794,440,1/1/2001,Quality Paperback Book Club,Fantasy
2653,23603,Tales from the Perilous Realm,J.R.R. Tolkien,0007149123,178,9/2/2002,HarperCollins Publishers,Fantasy
2697,5915,The Hobbit,J.R.R. Tolkien,0261103288,277,9/17/2007,HarperCollins,Fantasy
2990,15298,The Return of the King (The Lord of the Rings ...,J.R.R. Tolkien,0618574972,508,6/1/2005,Mariner Books,Fantasy

In [11]:
# editing bc the genres got messed up:
books = pd.read_csv('/Users/emma/Desktop/database/db_autumn2024/pyScriptsDB/tables/books.csv')

In [12]:
books['genres'] = books['genres'].str.split(',').str[0]

In [13]:
print(books.shape)
books.dropna(inplace=True)
print(books.shape)

(3000, 8)
(2966, 8)

In [17]:
books['genres'].unique

<bound method Series.unique of 0             Classics
1             Classics
2              History
3              Mystery
4              Fiction
             ...
2994        Nonfiction
2996           Mystery
2997    Sequential Art
2998           Fiction
2999             Humor
Name: genres, Length: 2966, dtype: object>

In [20]:
books.to_csv('/Users/emma/Desktop/database/db_autumn2024/pyScriptsDB/tables/books.csv', index=False)

In [21]:
books.head()

,isbn,Title,Author,num_pages,publication_date,publisher,genres,Price
0,0764585746,Shakespeare's Romeo and Juliet,William Shakespeare,231,5/8/2000,Hungry Minds,Classics,30.50
1,1421808323,Nineteen Eighty-Four,George Orwell,387,7/1/2005,1st World Library,Classics,35.99
2,0812969707,A War Like No Other: How the Athenians & Spart...,Victor Davis Hanson,397,9/12/2006,Random House,History,32.00
3,0743484185,Easy Prey (Lucas Davenport #11),John Sandford,480,6/1/2004,Simon & Schuster,Mystery,10.50
4,0571219764,Self,Yann Martel,331,4/7/2003,Faber Faber,Fiction,33.50